*{
    margin: 0;
    padding:0;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}
@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?tomleg');
    src:  url('../fonts/icomoon.eot?tomleg#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.ttf?tomleg') format('truetype'),
      url('../fonts/icomoon.woff?tomleg') format('woff'),
      url('../fonts/icomoon.svg?tomleg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

header {
    height: 100px;
    background-color:#fff;
}
.title {
    margin-left: 210px;
    line-height: 100px;
    font-size: 24px;
}
.login {
    height: 800px;
    width: auto;
    background-image: url(../IMAGINE/shouye.jpeg);
}

.registerarea {
    position: relative;
    float: right; 
    margin: 100px 200px auto auto;
    width: 400px;
    height: 400px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.9); 


 } 
 .registerarea h3 {
     height: 80px;
     line-height: 80px;
     text-align: center;
 }
 .registerarea input {
     width: 300px;
     height: 50px;
     margin:0px 50px 30px 50px;
 }
 
  .logname::before {
      position: absolute;
      top:95px;
      left: 70px;
     font-family: 'icomoon';
     content: '\e903';
    }
.password::before{
    position: absolute;
    top:180px;
    left: 70px;
    font-family: 'icomoon';
     content: '\e904';
}
.remember {
    width: 300px;
    height: 40px;
    line-height: 50px;
}
.remember input {
    width: 18px;
    height: 18px;
    margin-right: 5px;
    
}
.log input {
    float: left;
    width: 140px;
    height: 50px;
    margin:20px 0px auto 50px;
    background-color: rgb(31, 92, 206);
}
.cancle {
    float: right;
     width: 140px;
    height: 50px;
    margin:20px 40px auto 0px;
}
.download {
   height: 250px;
   text-align: center;
   width: auto; 
   background-color: pink;
}
.meth {
/* 浮动的子元素必须有一个标准流的父元素，且父元素必须有高度设置 */
    height: 150px;
    margin-left: 220px;
}
.meth ul li {
    float: left;
    width: 250px;
    height: 50px;
    line-height: 50px;
    border: solid 1px black;
    margin: 25px auto 50px 20px;
}
.download h4 {
    display: block;
}
.bottom {
    height: 160px;
    background-color: rgb(35, 102, 202);
}